// Code generated by Fern. DO NOT EDIT.

package billing

import (
	context "context"
	promptvmgosdk "github.com/AIEngineering26/promptvm-go-sdk"
	core "github.com/AIEngineering26/promptvm-go-sdk/core"
	internal "github.com/AIEngineering26/promptvm-go-sdk/internal"
	option "github.com/AIEngineering26/promptvm-go-sdk/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Returns all active, public subscription plans sorted by display order. No authentication required. Values are DB-driven: tier names, prices, feature bullets, and seat limits are all set via SQL — no frontend code changes are needed when the catalog changes.
func (c *Client) ListBillingPlans(
	ctx context.Context,
	opts ...option.RequestOption,
) ([]*promptvmgosdk.ListBillingPlansResponseItem, error) {
	response, err := c.WithRawResponse.ListBillingPlans(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a Stripe-hosted Checkout URL for the caller to complete payment. Owner/admin only. Rate-limited 5/min/org. The frontend redirects the browser to the returned URL; the actual subscription state lands in our DB via the `customer.subscription.created` webhook (US-01-4), not via the success URL.
func (c *Client) CreateBillingCheckoutSession(
	ctx context.Context,
	request *promptvmgosdk.CreateBillingCheckoutSessionRequest,
	opts ...option.RequestOption,
) (*promptvmgosdk.CreateBillingCheckoutSessionResponse, error) {
	response, err := c.WithRawResponse.CreateBillingCheckoutSession(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a Stripe-hosted Customer Portal URL the caller can use to update their payment method, view invoices, edit billing details, or cancel their subscription. Owner/admin only. Rate-limited 5/min/org. Plan switching is intentionally disabled in the Portal — use `/billing/change-plan` for that.
func (c *Client) CreateBillingPortalSession(
	ctx context.Context,
	request *promptvmgosdk.CreateBillingPortalSessionRequest,
	opts ...option.RequestOption,
) (*promptvmgosdk.CreateBillingPortalSessionResponse, error) {
	response, err := c.WithRawResponse.CreateBillingPortalSession(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the active org's subscription projection, plan-derived entitlements, and a usage snapshot. Any role inside the org may read. Cached server-side in Redis for 30s; invalidated by the Stripe webhook worker on every event apply.
func (c *Client) GetBillingStatus(
	ctx context.Context,
	request *promptvmgosdk.GetBillingStatusRequest,
	opts ...option.RequestOption,
) (*promptvmgosdk.GetBillingStatusResponse, error) {
	response, err := c.WithRawResponse.GetBillingStatus(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
