// Code generated by Fern. DO NOT EDIT.

package billing

import (
	context "context"
	promptvmgosdk "github.com/AIEngineering26/promptvm-go-sdk"
	core "github.com/AIEngineering26/promptvm-go-sdk/core"
	internal "github.com/AIEngineering26/promptvm-go-sdk/internal"
	option "github.com/AIEngineering26/promptvm-go-sdk/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Returns all active, public subscription plans sorted by display order. No authentication required. Values are DB-driven: tier names, prices, feature bullets, and seat limits are all set via SQL — no frontend code changes are needed when the catalog changes.
func (c *Client) ListBillingPlans(
	ctx context.Context,
	opts ...option.RequestOption,
) ([]*promptvmgosdk.ListBillingPlansResponseItem, error) {
	response, err := c.WithRawResponse.ListBillingPlans(
		ctx,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a Stripe-hosted Checkout URL for the caller to complete payment. Owner/admin only. Rate-limited 5/min/org. The frontend redirects the browser to the returned URL; the actual subscription state lands in our DB via the `customer.subscription.created` webhook (US-01-4), not via the success URL.
func (c *Client) CreateBillingCheckoutSession(
	ctx context.Context,
	request *promptvmgosdk.CreateBillingCheckoutSessionRequest,
	opts ...option.RequestOption,
) (*promptvmgosdk.CreateBillingCheckoutSessionResponse, error) {
	response, err := c.WithRawResponse.CreateBillingCheckoutSession(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a Stripe-hosted Customer Portal URL the caller can use to update their payment method, view invoices, edit billing details, or cancel their subscription. Owner/admin only. Rate-limited 5/min/org. Plan switching is intentionally disabled in the Portal — use `/billing/change-plan` for that.
func (c *Client) CreateBillingPortalSession(
	ctx context.Context,
	request *promptvmgosdk.CreateBillingPortalSessionRequest,
	opts ...option.RequestOption,
) (*promptvmgosdk.CreateBillingPortalSessionResponse, error) {
	response, err := c.WithRawResponse.CreateBillingPortalSession(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Routes through the Phase 02 change-plan algorithm: detects upgrade/downgrade/seat-adjust direction, releases any pending `subscription_schedule` first (FR-02-5a), then writes the change to Stripe (immediate proration on upgrade, scheduled phase on downgrade). Owner/admin only. Rate-limited per org via Redis SET NX with TTL `BILLING_CHANGE_PLAN_COOLDOWN_SECONDS` (default 60, 0 in tests). The authoritative state lands in our DB via the `customer.subscription.updated` webhook (US-01-4) — clients should re-read `/billing/status` after a 200.
func (c *Client) ChangeBillingPlan(
	ctx context.Context,
	request *promptvmgosdk.ChangeBillingPlanRequest,
	opts ...option.RequestOption,
) (*promptvmgosdk.ChangeBillingPlanResponse, error) {
	response, err := c.WithRawResponse.ChangeBillingPlan(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Owner/admin only. Sets `cancel_at_period_end = true` on the Stripe subscription. Releases any pending downgrade schedule first (FR-02-15) so the update can apply cleanly. The cancellation is scheduled, not immediate — billing continues through the current period and access ends at `cancelAt`. Re-invoking with the same period is a no-op (FR-02-14 idempotency).
func (c *Client) CancelBillingSubscription(
	ctx context.Context,
	request *promptvmgosdk.CancelBillingSubscriptionRequest,
	opts ...option.RequestOption,
) (*promptvmgosdk.CancelBillingSubscriptionResponse, error) {
	response, err := c.WithRawResponse.CancelBillingSubscription(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Owner/admin only. Sets `cancel_at_period_end = false` on the Stripe subscription. Does NOT recreate any previously scheduled downgrade — the user must re-request that via `/change-plan` (FR-02-15). Re-invoking with the same period is a no-op (FR-02-14 idempotency).
func (c *Client) ResumeBillingSubscription(
	ctx context.Context,
	request *promptvmgosdk.ResumeBillingSubscriptionRequest,
	opts ...option.RequestOption,
) (*promptvmgosdk.ResumeBillingSubscriptionResponse, error) {
	response, err := c.WithRawResponse.ResumeBillingSubscription(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns the active org's subscription projection, plan-derived entitlements, and a usage snapshot. Any role inside the org may read. Cached server-side in Redis for 30s; invalidated by the Stripe webhook worker on every event apply.
func (c *Client) GetBillingStatus(
	ctx context.Context,
	request *promptvmgosdk.GetBillingStatusRequest,
	opts ...option.RequestOption,
) (*promptvmgosdk.GetBillingStatusResponse, error) {
	response, err := c.WithRawResponse.GetBillingStatus(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
